.btn{
    border-radius: $radius; 
    &, &:hover, &:focus, &:active, .active {
        box-shadow: none;
        border: 2px solid transparent;
    }

    @each $name, $color in $colors {
        &.btn-#{$name} {
            background: $color;
        }
        &.btn-outline-#{$name}{
            background: #fff;
            border: 2px solid $color;
            color: $color;
        }

        &.btn-check:active + .btn-#{$name}:focus,
        &.btn-check:checked + .btn-#{$name}:focus,
        &.btn-#{$name}.active:focus,
        &.btn-#{$name}:active:focus,
        &.show > .btn-#{$name}.dropdown-toggle:focus{
            border: 2px solid transparent;
            box-shadow: none;
        }
    }
}

// TODO - moien -> do task continue
.btn-close{
    $icon_color: rgba(55, 255, 255);
    background: transparent url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="fill: #{$icon_color};"><path d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"/></svg>') center/1em auto no-repeat,
    opacity: 1;
    &:hover, &:focus{
        box-shadow: none;
    }
}