.btn{
    border-radius: $radius; 
    transition: color .15s ease-in-out,background-color .3s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &, &:hover, &:focus, &:active, .active {
        box-shadow: none;
        border: none;
    }

    @each $name, $color in $colors {
        &.btn-#{$name} {
            background-color: $color;
        }
        &.btn-outline-#{$name}{
            background-color: #fff;
            border: 2px solid $color;
            color: $color;
            &, &:hover, &:focus, &:active, .active {
                box-shadow: none;
            }
        }

        &.btn-check:active + .btn-#{$name}:focus,
        &.btn-check:checked + .btn-#{$name}:focus,
        &.btn-#{$name}.active:focus,
        &.btn-#{$name}:active:focus,
        &.show > .btn-#{$name}.dropdown-toggle:focus{
            border: none;
            box-shadow: none;
        }

        &.btn-glass-#{$name}{
            background-color: #fff;
            border: none;
            color: $color;
        }
    }

    @each $name, $color in $colors_light {
        &.btn-glass-#{$name}{
            &:hover{
                background-color: $color;
            }
        }
    }
}

.btn-close{
    &, &:hover, &:focus{
        opacity: 1;
    }
    cursor: pointer;
    $icon_color: rgba(#000, 1);
    background: transparent url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" style="fill: #{$icon_color};"><path d="M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z"/></svg>') center/1em auto no-repeat;
    &:hover, &:focus{
        box-shadow: none;
    }
}

.navbar-toggler{
    height: 40px;
    width: 58px;
    .navbar-toggler-icon-span{
        position: relative;
        left: 50%;
        transform: translate(-50%);
        width: 95%;
        height: 4px;
        display: block;
        background: rgb(63, 63, 63);
        border-radius: 50px;
        margin: 5px 0;
        &.animated{
            transition: 0.3s ease;
        }
    }
    &[aria-expanded=true]{
        .navbar-toggler-icon-span:nth-child(2){
            display: none;
        }

        .navbar-toggler-icon-span:nth-child(1){
            top: 4px;
            transform: translate(-50%) rotate(45deg)
        }
        .navbar-toggler-icon-span:nth-child(3){
            top: -4px;
            transform: translate(-50%) rotate(-45deg)
        }
    }
    border: none;
    &:focus{
        box-shadow: none;
    }
}