.carousel{
    &, .carousel-inner, .carousel-inner img{
        height: 500px;
        border-radius: .25rem;
    }
    
    .carousel-inner .carousel-item {
        transition: transform 0.4s ease;
    }
    $dotted_buttons_centeral_padding: 9px;
    $carousel_control_buttons_margin: 15px;
    .carousel-control-prev, .carousel-control-next{
        --dotted-buttons-size: 33px;
        
        position: absolute;
        top: 50%;
        transform: translate(0, calc(-50% + calc(var(--dotted-buttons-size) / 2)));
        opacity: 1;
        &.dotted-buttons{
            width: var(--dotted-buttons-size);
            height: var(--dotted-buttons-size);
            background-color: rgba(0, 0, 0, 0.822);
            border-radius: 50%;
            padding: 7px;
        }
    }
    .carousel-control-prev.dotted-buttons{
        padding-right: $dotted_buttons_centeral_padding;
        left: $carousel_control_buttons_margin;
    }
    .carousel-control-next.dotted-buttons{
        padding-left: $dotted_buttons_centeral_padding;
        right: $carousel_control_buttons_margin;
    }

    .carousel-indicators{
        $indicators_height: 40px;
        &.carousel-indicators-highlight{
            background: rgba(17, 17, 17, 0.5);
            height: $indicators_height;
            margin: 0;
            align-items: center;
        }
        [data-bs-target].dotted-buttons{
            opacity: 1;
            background-color: rgba(250, 250, 250, 0.801);
            --size: 14px;
            width: var(--size);
            height: var(--size);
            border: none;
            border-radius: 50%;
            margin: 0 7px;
            box-shadow: 0px 0px 0px 0px transparent;
            transition: 0.3s ease;
            transition-property: box-shadow, background-color;
            $dotted_buttons_box_shadow_width: 6px;
            &:hover{
                box-shadow: 0px 0px 0px $dotted_buttons_box_shadow_width rgba(226, 226, 226, 0.15);
                background-color: #fff;
            }
            &:active, &.active{
                box-shadow: 0px 0px 0px $dotted_buttons_box_shadow_width rgba(226, 226, 226, 0.5);
                background-color: #fff;
            }
        }
    }
    background-color: $overlay_color;
} 