.toast{
    border-color: rgb(248, 248, 248);
    box-shadow: 0 0.3rem 1rem #55555554;
    &.toast-inline{
        padding: 14px 10px;
        display: flex;
        justify-content: space-between;
        .toast-body{
            display: inline-block;
            margin: 0;
            padding: 0;
            padding-top: 2px;
        }
        .btn-close{
            margin-left: auto;
            display: inline-block;
            margin-top: 2px;
        }
        &.dark{
            background: #333;
            border-color: #333;
            color: #ffffffde;
        }
    }
}