$radius: 4px;

$colors: (
    "primary": #1565C0,
    "success": #02d60d,
    "danger": #D50000,
    "dark": #000,
    "info": #00E5FF,
    "warning": #FFC400
);

$colors_light: (
    "primary": #4193f1,
    "success": #02d60d,
    "danger": #D50000,
    "dark": #000,
    "info": #00E5FF,
    "warning": #FFC400
)