$radius: 4px;

$primary: #1565C0;
$success: #02d60d;
$danger: #D50000;
$dark: #000;
$info: #00E5FF;
$warning: #FFC400;

$colors: (
    "primary": $primary,
    "success": $success,
    "danger": $danger,
    "dark": $dark,
    "info": $info,
    "warning": $warning
);

$colors_light: (
    "primary": $primary,
    "success": $success,
    "danger": $danger,
    "dark": $dark,
    "info": $info,
    "warning": $warning
)